:host {
  display: block;
}

.impact-strip {
  padding-top: clamp(1.6rem, 4vw, 2.6rem);
}

.impact-strip__grid {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.9rem;
  align-items: center;
}

.impact-strip__item-wrap {
  min-width: 0;
}

.impact-strip__item {
  min-width: 33%;
}

@media (min-width: 1200px) {
  .impact-strip__item {
    min-height: 100%;
  }
}
